html,
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  box-sizing: border-box;
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgb(from black r g b / 10%);
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  cursor: pointer;
  display: block;
}

.image-wrapper .overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 30%);
  transition: all 0.2s ease-in-out;
}

.likes {
  color: #777;
  padding: 1rem;
}
